*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
 }

.container{
    height: 175px;
    max-height: 200px;
    max-width: 1920px;
    position: relative;
}
.top_container{
    position: relative;
    height: 23%;
    top:0;
    background-color: #163860;
    color: #fff;
}

.middle_container{
    position: relative;
    height: 60%;
    top:0;
    background-color: #fff;
    color: #163860;
}
.bottom_container{
    position: relative;
    height: 17%;
    top:0;
    background-color: #fff;
    color: #163860;
}
.sub_container{
    position: relative;
    height: 10%;
    width: 10%;
    top: 0;
    color: #163860;
    text-align: center;
    font-family: Georgia, Geneva, Tahoma, serif;
}
.center_container{
    position: relative;
    height: 100%;
    margin-left: 8%;
    margin-right: 8%;
    padding-left: 12px;
    padding-right:12px;

}
.img_logo {
    height: 50%;
    position: relative;
    display: block;
    place-content: center;
    left: 250px;
    right: 250px;
}

.logo{
    height: 30%;
    width: auto;
    margin: 20px 20px 20px 20px;
    position: center;
/*    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;*/

}
.navbar{
    float: left;
    display: block;
    align-items: center;
    color: blueviolet;
    background-color: aqua;
    justify-content: space-between;
    padding: 20px 10%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: -25px;
    margin-right: -25px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 25px;
    padding-right: 25px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 3rem;
    line-height: 1.5;
}